html, body {
	font-family: "helvetica neue", "helvetica", sans-serif;
	font-size: 16px;
	font-weight: 300;
}

svg {
	width: 250px;
	height: 250px;
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 3px;
}
