html, body {
	font-family: "helvetica neue", "helvetica", sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.wrap {
	margin: 50px;
	position: relative;
}

svg {
	width: 500px;
	height: 500px;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	position: relative;
	top: 0; left: 0;
}

canvas {
	width: 500px;
	height: 500px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	position: absolute;
	top: 0; left: 0;
	z-index: -1;
	opacity: 0.1;
}

#testimg { display: none; }
